@import "axis"
@import "jeet"
@import "rupture"
@import "./variables"

// Resets
border-box-html()
global-reset()

a
  text-decoration: none
  color red
  &:hover
    color greyGreen

h1
.H1
  h1()
  font-family: fontsHead
  font-weight: 400
  margin: 0
  // font-size: 30px
  // +above(768px)
  //   font-size: 60px
h2
.H2
  h2()
  font-family: fontsHead
  font-weight: 400
  margin: 0
  // margin 25px auto
  // padding: 0px
h3
.H3
  h3()
  font-family: fontsHead
  font-weight: 400
  margin: 0
  // font-size: 12px
  // line-height: 13px
  // +above(768px)
  //   font-size: 13px
  //   line-height: 13px
h4
.H4
  h4()
  font-family: fontsHead
  font-weight: 400
  margin: 0
  // font-size: 10px
  // line-height: 13px
  // +above(768px)
  //   font-size: 13px
  //   line-height: 13px
h5
.H5
  h5()
  font-family: fontsHead
  font-weight: 400
  margin: 0
h6
.H6
  h6()
  font-family: fontsHead
  font-weight: 400
  margin: 0
p
  normal()
  font-family: fontsMain
  font-weight: 400
  font-size: 16px
  line-height: 20px
  padding 10px
  +above(768px)
    font-size: 19px
    line-height: 25px
    padding 10px 0px

.slider-decorator-0
.slider-decorator-1
  display: none

html body
  // debug()
  font-family: fontsMain
  font-weight: 400
